/* .content {
    color:white;
   display: flex;
   justify-content: center;
   background-image:url("../images/backgroundimage.png") ;
} */
.main_homepage .content h1 {
    color: rgb(12, 12, 12);
    margin-left: 20%;
    margin-top: 15%;
    background-color: white;
    border-radius: 12px;
    opacity: 0.8;
    padding: 1% 1% 1% 1%;
    width: 50%;
    padding-left: 10%;
}

.main_homepage {
    height: 100vh;
    
   background-image:url("https://wallpaperaccess.com/full/2484218.jpg") ; 
    width: 100vw;
    margin: 0;
    justify-content: center;

    position: fixed;
}

.login_button,
.librarian_login_button {
    background-color: rgb(243, 241, 241);
    color: rgb(12, 12, 12);
    margin-left: 40%;
    padding: 1% 1% 1% 1%;
    border-radius: 12px;
    opacity: 0.9;
    border: solid black 3px;
}

.about_button,
.register_button,
.books_button {
    background-color: rgb(243, 241, 241);
    color: rgb(12, 12, 12);
    padding: 6% 6% 6% 6%;
    border-radius: 12px;
    opacity: 0.7;
    border: solid black 5px;

}

.login_button {
    margin-left: 42%;
    margin-bottom: 1%;
}

.button:hover {
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 1rem 1.5rem;
}

.navbar img {
    height: 40px;
}

.nav-logo {
    font-size: 30px;
    font-weight: 500;

}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%
}

.nav-item {
    padding-right: 10%;
    color: white;
    justify-content: left;

}

.nav-link {
    font-size: 19px;
    color: #b9b6b6;
}

.nav-link:hover {
    color: #1ae5f7;
}

.homepage_background {
    width: 100vw;
    height: 100vh;

}