* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: "Outfit", sans-serif;
  text-transform: capitalize;
  background-color: rgba(206, 234, 252, 0.568);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container_of_books {
  width: 1400px;
}

.container_of_books .header {
  text-align: center;
  margin-bottom: 50px;
}

.container_of_books .header .h1_books {
  text-transform: uppercase;
  margin-bottom: 50px;
  position: relative;
  margin-right: 50px;
}

.container_of_books .header .h1_books::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: dodgerblue;
  bottom: -30px;
  left: 47%;
}

.container_of_books .header p {
  line-height: 2;
  color: #aaa;
}

.container_of_books>span {
  text-align: center;
  background-color: dodgerblue;
  color: white;
  padding: 10px 30px;
  margin: auto;
  display: block;
  width: 200px;
  margin-bottom: 100px;
}

.container_of_books .content {
  width: 85%;
  margin-bottom: 50px;
  margin-left:5%;
  display:flex;
  flex-direction:column;
}

.container_of_books .content .row {
  width: 100%;
  margin-left:3%;
  height: 180px;
  background-color: white;
  border-bottom: 1px solid rgb(41, 128, 185);
  display: flex;
  gap: 50px;
  padding: 25px;
  transition-duration: 0.5s;
  transition-property: transform;
  position: relative;
}

.container_of_books .content .row:hover {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(41, 127, 185, 0.521);
  border: 0px;
}

.container_of_books .content .row .data {
  display: flex;
  width: 60%;
}

.container_of_books .content .row .data .img {
  width: 200px;
  height: 100%;
  margin-right: 30px;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
  transform-origin: left;
  border-radius: 5px;
  background-color: rgba(170, 170, 170, 0.411);
  text-align: center;
  padding: 4px;
}

.container_of_books .content .row .data .img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: fill;
}

.container_of_books .content .row .data .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 12px;
  color:black;
}
.header h1{
  background-color: antiquewhite;
  margin-top:2%;
  border-radius:20px;
  border:solid black 3px;
width:85%;
padding:1% 2% 1% 2%;
margin-left:9%;
  justify-content: center;
}
.container_of_books .content .row .data .text .statue {
  background-color: rgb(127, 177, 61);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.container_of_books .content .row .data .text .statue+p {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 1.5px;
  color:black
}

.container_of_books .content .row .data .text .info {
  display: flex;
  gap: 20px;
  color: rgb(109, 108, 108);
}

.container_of_books .content .row .data:last-child {
  gap: 100px;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}


.container_of_books .content .row .data:last-child .city p:first-child {
  font-size: 30px;
}

.container_of_books .content .row .data:last-child .city p:last-child {
  color: rgb(41, 128, 185);
  font-size: 25px;
}

.container_of_books .content .row .data:last-child .price {
  text-align: center;
}

.container_of_books .content .row .data:last-child .price p:first-child {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.container_of_books .content .row .data:last-child .price button {
  background-color: rgb(41, 128, 185);
  color: white;
  font-weight: bold;
  border: 0ex;
  width: 100px;
  padding: 15px 0px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.404);
}

.container_of_books .content .row .data:last-child .price button:active {
  background-color: rgb(20, 68, 100);
  box-shadow: 0 0 0 0 rgba(128, 128, 128, 0.733);
}

.container_of_books .content .row:nth-child(3) .data .text .statue {
  background-color: rgb(41, 128, 185);
}

.container_of_books .content .row:nth-child(4) .data .text .statue {
  background-color: rgb(133, 53, 166);
}
.container_of_books .content .row:nth-child(6) .data .text .statue {
  background-color: rgb(41, 128, 185);
}

.container_of_books .content .row:nth-child(1)::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: white;
  border-right: 1px solid #eee;
  border-left: 4px solid rgb(41, 128, 185);
}

.container_of_books .content .row:nth-child(1)::after {
  content: 'featured';
  position: absolute;
  left: -75px;
  top: 40%;
  font-size: 25px;
  transform: rotate(-90deg);
}