
.section-padding {
    padding: 60px 0;
}
body {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    background: #3e2bc5;
    overflow-x: hidden;
    background :black;
}
.about-details_section-padding{
    background:rgb(15, 15, 15);
}
.container_about img{
    width:30%;
    margin-left :30%;
    border-radius :20px;
    border : solid black 4px;
    background-image: linear-gradient(rgba(26, 24, 24, 0.8), rgba(24, 23, 23, 0.8));
    justify-content: center;
}
.mb20{
    margin-left:15%;
}
/*
* ----------------------------------------------------------------------------------------
* 06.START ABOUT DETAILS DESIGN
* ----------------------------------------------------------------------------------------
*/
.about-details,
.single_about_details{
width:100%
}
.single_about_details h3{
color: #fff;
font-size: 45px;
line-height: 50px;
margin: 0;
font-weight: 500;
}
.single_about_details span{
background: #00bcd4 none repeat scroll 0 0;
display: block;
height: 3px;
margin: 20px 0;
width: 100%;
border-radius: 3px;	
}
.mb20{font-weight: 500;
margin-bottom: 20px;}
.single_about_details p
.single_about_details_img{text-align: center;}
.single_about_details_img img{display: inline-block};
/*
* ----------------------------------------------------------------------------------------
* 06.END ABOUT DETAILS DESIGN
* ----------------------------------------------------------------------------------------
*/